/*category card*/
.category-card{
    margin-top:20px;
}
.category-card .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.category-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

}
.category-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(245, 115, 72 ,0.63);
}
.category-card h5{
    color:#4E5E30;
    font-weight:600;
}
.category-card p{
    font-size:14px;
    font-weight:300;
}
.category-card .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}

/*topic card*/


#product .product-card-body {
    background: #7f4fca;
    border-radius: 5px;
    max-height: 390px;

    max-width: 270px;
    overflow: hidden;
    vertical-align: top;

    box-shadow: 0 0 1rem 0 #b1f7e3;

    transition: all 0.5s;
    opacity: 1;

    z-index: -2;
}

#product #productCardImage{
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #727991;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;

}

#product .category-name {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 0;
}


#product .product-card-body .card-content {
    background: white;
    opacity: 1;
    position: relative;
    padding: 5px 15px;
    top: -15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#product h2 {
    font-size: 1.25em;
   /* margin: 5px 0;*/
    /*min-height: 50px;*/
}

/*#product .date {
    color: #727991;
    font-size: 0.8em;
    margin-top: 0;
    text-transform: uppercase;
}

#product #productLocation{
    color: #727991;
    font-size: 0.8em;
    margin-top: 0;
    text-transform: uppercase;
}*/

#product .product-card-body .card-content.open,
#product .product-card-body:hover .card-content.open,
#product .product-card-body:focus .card-content.open{
    top: -270px;
    opacity: 0.8;
    height: 390px;
}
#product .product-card-body:hover .card-content.open .description,
#product .product-card-body:focus .card-content.open .description{
    opacity: 1;
}

#product .product-card-body:hover,#product #productCardImage:focus {
    cursor: pointer;
}

#product .product-card-body:hover .card-content,#product #productCardImage:focus .card-content{
    top: -50px;
}

#product .product-card-body:hover .description,#product #productCardImage:focus .description {
    opacity: 0.3;
}

/*=========== the line =======================*/
#product .product-card-body
.card-content:before {
    content: "";
    height: 7.5px;
    width: 100%;

    position: absolute;
    top: -3px;
    left: 0;
}

#product .product-card-body .card-content:before {
    background-color: #FF6B6B;
}
/*=============line end======================*/


#product .description {
    line-height: 1.5em;
    opacity: 0;
    transition: all 0.5s;
}

#product .open .description {
    opacity: 1;
}

.description p:first-child {
    overflow: hidden;
    /*max-height: 100px;*/
    max-height: 100%;
}

.description p:nth-child(2) {
    display: none;
}

.more-info {
    color: #fff;
    text-align: center;
    max-width:100%;
    margin:0 auto;
}

